<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
  <div class="col">

    <form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">

          <input type="text" class="form-control" formControlName="name" placeholder="Nombre del producto">

          <span *ngIf="isValidField('name')" class="form-text text-danger">
            <!-- Debe de ser de 3 letras -->
            <i class="bi bi-x"></i>
            {{ getFieldError('name')}}
          </span>

          <span *ngIf="myForm.controls['name'].valid && myForm.touched"
            class="form-text text-success">
            <i class="bi bi-check2"></i>
            Campo correcto
          </span>

        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="price" placeholder="Precio del producto">

          <span class="form-text text-danger" *ngIf="isValidField('price')">
            <i class="bi bi-x"></i>
            El precio debe de ser 0 o mayor
          </span>

          <span *ngIf="myForm.controls['price'].valid && myForm.touched"
            class="form-text text-success">
            <i class="bi bi-check2"></i>
            Campo correcto
          </span>

        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="inStorage" placeholder="Existencias del producto">

          <span class="form-text text-danger" *ngIf="isValidField('inStorage')">
            <i class="bi bi-x"></i>
            La existencia debe de ser 0 o mayor
          </span>

          <span *ngIf="myForm.controls['inStorage'].valid && myForm.touched"
          class="form-text text-success">
          <i class="bi bi-check2"></i>
          Campo correcto
        </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>



    </form>

  </div>
</div>


<div class="row">
  <div class="col">

    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>Precio</span>
    <pre>{{ myForm.controls['price'].value | json }}</pre>

    <span>Precio - Errors</span>
    <pre>{{ myForm.controls['price'].errors | json }}</pre>

    <span>Nombre Producto </span>
    <pre>{{ myForm.controls['name'].value | json }}</pre>

    <span>Producto - Errors</span>
    <pre>{{ myForm.controls['name'].errors | json }}</pre>
  </div>
</div>
